main {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 900px;
    margin: auto;
    padding: 30px;
    background: #fdfdfd;
    color: #222;
}

h1 {
    margin-bottom: 25px;
}

#product,
#amount {
    padding: 10px;
    border: 1px solid #bbb;
    border-radius: 6px;
    font-size: 16px;
    margin-right: 10px;
}

#product {
    width: 300px;
}

#amount {
    width: 180px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    background: #333;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background: #555;
}


.nutrition-grid {
    margin-top: 25px;
    padding: 20px;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
    gap: 10px;

    border: 1px solid #ccc;
    border-radius: 10px;
    background: white;
}

.nutrition-grid legend {
    font-weight: bold;
    padding: 0 10px;
}


.nutrition-grid input[type="checkbox"] {
    display: none;
}


.nutrition-grid label {
    padding: 8px;
    text-align: center;

    border: 1px solid #ccc;
    border-radius: 20px;

    background: #fafafa;
    cursor: pointer;
    user-select: none;
    transition: 0.15s;
}


.nutrition-grid label:hover {
    background: #eee;
}


.nutrition-grid input[type="checkbox"]:checked + label {
    background: #333;
    color: white;
    border-color: #333;
}


/* Nutrition output */

.nutrition-box {
    width: 350px;

    margin-top: 20px;

    border: 2px solid #222;
    border-radius: 8px;

    padding: 15px;

    background: white;
}


.nutrition-title {
    font-size: 32px;
    font-weight: bold;

    border-bottom: 8px solid black;
    padding-bottom: 5px;
}


.nutrition-serving {
    margin: 10px 0;
    color: #555;
}


.nutrition-table {
    width: 100%;
    border-collapse: collapse;
}


.nutrition-table th {
    text-align: left;
    border-bottom: 3px solid black;
}


.nutrition-table td {
    padding: 6px 0;
    border-bottom: 1px solid #ddd;
}


.nutrition-table td:nth-child(2) {
    text-align: right;
    font-weight: bold;
}


.nutrition-footer {
    margin-top: 10px;
    font-size: 12px;
    color: #666;
}


/* Error */

#error-message {
    display: none;

    margin-top: 20px;
    padding: 12px;

    border-radius: 6px;

    background: #ffe5e5;
    border: 1px solid #cc5555;

    color: #990000;
}